DATABASE_URL=postgresql://neondb_owner:npg_8UtchzBCIZo4@ep-small-butterfly-anzrva9y-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require

PUSHER_APP_ID=ap2151713
PUSHER_SECRET=ad160497bf622a01ffaf
NEXT_PUBLIC_PUSHER_KEY=a2c80913a2ed5890c434
NEXT_PUBLIC_PUSHER_CLUSTER=ap2
